<% unless @rooms.present? %>
  <div style="margin: 5vh 5vw 2vh 5vw; text-align: center;">
    <h3>There is no room at the moment.</h3>
  </div>
<% end %>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 5vh;">
  <% @rooms.each do |room| %>
    <div class="col">
      <div class="card">
        <h4 class="card-header">Room <%= room.id %></h4>
        <div class="card-body">
          <p>Room Size: <%= room.size %>sqft</p>
          <p>Beds: <%= room.bed %></p>
          <p>Price: $<%= room.price %></p>
          <p>Wifi: <% if room.wifi %>
              &#10003;
            <% else %>
              &#10539;
            <% end %>
          </p>
          <p>TV: <% if room.tv %>
              &#10003;
            <% else %>
              &#10539;
            <% end %>
          </p>
          <p>AC: <% if room.ac %>
              &#10003;
            <% else %>
              &#10539;
            <% end %>
          </p>
          <p>Safe: <% if room.safe %>
              &#10003;
            <% else %>
              &#10539;
            <% end %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to 'Details', room, class:"btn btn-info" %>
          <%= link_to 'Edit', edit_room_path(room), class:"btn btn-warning" %>
          <%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

